@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(v40-nuFiD-vYSZviVYUb_rj3ij__anPXPT7Sh2E-.woff2) format('woff2');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(v40-nuFiD-vYSZviVYUb_rj3ij__anPXPT7Sh2E-.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(v23-6xK1dSBYKcSV-LCoeQqfX1RYOo3qPa7lujVj9w.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(v23-6xK3dSBYKcSV-LCoeQqfX1RYOo3aOqTimDc.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(v23-6xKydSBYKcSV-LCoeQqfX1RYOo3i54rAlR1p_8E.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(v18-neIXzD-0qpwxpaWvjeD0X88SAOeasd8chS6gw4Uu.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(v18-neIQzD-0qpwxpaWvjeD0X88SAOeaiXY0pyOK.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(v18-neIXzD-0qpwxpaWvjeD0X88SAOeasasahS6gw4Uu.woff2) format('woff2');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(v18-neIXzD-0qpwxpaWvjeD0X88SAOeasc8bhS6gw4Uu.woff2) format('woff2');
}
